.banner,
.banner-2,
.banner-3{

    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    
    
}
.banner{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.588),rgba(0, 0, 0, 0.588)), url(asset/milkshake_1.jpg);
}
.banner-2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.567),rgba(0, 0, 0, 0.588)), url(asset/dark-background-1024x683.jpg);
}
.banner-3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.558),rgba(0, 0, 0, 0.574)), url(asset/dhum.jpg);

}
.nav-item{
    padding: 5px 50px;
    border: 5px 10px;
    
    
}
.btn {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.image{
    width: 300px;
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card {
    
    height: 100%;
    
}
.category .col-md-6{
    margin-bottom: 30px;
}
.offcanvas-header{
    width: 100%;
    background-color: rgb(6, 3, 79);
    color: white;
    text-align: center;
}
.btn-close:hover {
    background-color: red;

    color: white;
     content: "x";


}

.footer{
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 43, 0.918);
}
